{%extends "layout.html" %}
{% block content %}
	<h1> My Curriculums</h1>
	<var style="color:black;font-size:20px;">
		Computer Architecture and Design<br>
		Computer Communications and Networking<br>
		Digital Integrated Circuit Design<br>
		Estimation and Detection Theory<br>
		Electronics I<br>
		Electronics II<br>
		Fundamentals of Software<br>
		Fundamentals of Networking<br>
		Information Theory<br>
		Introduction to Algorithms<br>
		Microprocessor System Design<br>
		Pattern Recognition<br>
	</var>

{% endblock content %}
