{%extends "layout.html" %}
{% block content %}
	<h1> My Education</h1>
	<body>
		<h style="color:black;font-size:30px;">
			University<br>
		</h>
		<var style="color:black;font-size:20px;">
			 Master of Science, Texas A&M University, College Station, Texas, January 2018 - December 2019<br> 
			 Bachelor of Science, Texas A&M University, College Station, Texas, Ausust 2015 - December 2017<br> 
			 University of Electronic Science and Technology of China, Chengdu, Sichuan, September 2013 - July 2015<br>
		</var>
		<h style="color:black;font-size:30px;">
			High School<br>
		</h>
		<var style="color:black;font-size:20px;">
			 Chengdu Shishi High School<br>
		</var>

	</body>
{% endblock content %}
