{%extends "layout.html" %}
{% block content %}
	<h1> My Education</h1>
	<body>
		<h style="color:black;font-size:30px;">
			University<br>
		</h>
		<var style="color:black;font-size:20px;">
			 Master of Science, <a href="https://en.wikipedia.org/wiki/Texas_A%26M_University" target="_blank">Texas A&M University</a>, College Station, Texas, January 2018 - December 2019<br> 
			 Bachelor of Science, <a href="https://en.wikipedia.org/wiki/Texas_A%26M_University" target="_blank">Texas A&M University</a>, College Station, Texas, August 2015 - December 2017<br> 
			 Bachelor of Science, <a href="https://en.wikipedia.org/wiki/University_of_Electronic_Science_and_Technology_of_China" target="_blank">University of Electronic Science and Technology of China</a>, Chengdu, Sichuan, September 2013 - July 2015<br>
		</var>
		<br>
		<h style="color:black;font-size:30px;">
			High School<br>
		</h>
		<var style="color:black;font-size:20px;">
			 <a href="https://en.wikipedia.org/wiki/Shishi_High_School" target="_blank">Chengdu Shishi High School</a><br>
		</var>

	</body>
{% endblock content %}
