{%extends "layout.html" %}
{% block content %}
	<h1> My Experience</h1>
	<body>
		<h style="color:black;font-size:36px;">
			Systems Engineering Intern<br>
		</h>
		<p style="color:black;font-size:20px;">
			•Designed and built up the test bench for LED property measurement. This test bench was used for analyzing the power dip phenomenon which occurred on the brand new LED. DC Power supply and DMM were used in the measurement. <br>                  
			•Designed and built up the test bench for LED driver design. Measured the noise level from present design and designed an alternate LED driver under the same noise level as LED driver from the market. OrCAD was used for the simulation. Function generator, DC power supply and oscilloscope were used. <br>
			•Acquired images from the tool and took the image processing in MATLAB based on the collected images to find out the defect on the wafer. <br>
		<h style="color:black;font-size:36px;">
			Engineering Intern<br>
		</h>
		<p style="color:black;font-size:20px;">
			•Added new functions for semi-auto calibration for the testing machines by using the HP3458A Meter. The basic idea was adding functions for the connection between HP meter and PC and then sent commands to the HP meter to read the current and voltage using USB connection. <br>
			•Redesigned and improved the user interface of Arbin’s Comprehensive Software Suite by MFC library since current package did not include auto-calibration and semi-auto-calibration options. C++ was used in this project. <br>
			•Tested company’s products with their designed software. The software was used to measure the battery’s performance and verify precision of the output current. <br>
		</p>

	</body>
{% endblock content %}