{%extends "layout.html" %}
{% block content %}
	<h1> My Experience</h1>
	<body>
		<h style="color:black;font-size:30px;">
			Graduate Assistant/Graduate Student Assistant(After June 2019)<br>
		</h>
		<var style="color:black;font-size:22px;">
			Texas A&M University, College Station, TX<br>
			January 2018 – Now<br>
		</var>
		<p style="color:black;font-size:15px;">
			•Designed a smart system by using a WiFi module to implement remote control via smartphone. The connection was established though WiFi network. The module was programmed in Arduino while the app was written in Objective-C for IOS devices. Google Cloud API was used to build the app. <br>
			•Data was uploaded to Google Cloud Platform from module through WiFi network. Used clustering to learn certain customers’ habit and then provided predictions for the customers. The predictions came from majority of users’ preference and also his or her own past history. Predicted outcomes will be downloaded to devices as suggestions for the customers. <br>
			•Designed a system to collect ambient light intensity and vibration from remote sensors and used Zigbee (802.15.4) protocol to transmit data to local servers and saved to database. <br>
		</p>
		<h style="color:black;font-size:30px;">
			Systems Engineering Intern<br>
		</h>
		<var style="color:black;font-size:22px;">
			Department of Surfscan, KLA-Tencor, Milpitas, CA<br>
			June 2018 – August 2018<br>
		</var>
		<p style="color:black;font-size:15px;">
			•Designed and built up the test bench for LED property measurement. This test bench was used for analyzing the power dip phenomenon which occurred on the brand new LED. DC Power supply and DMM were used in the measurement. <br>                  
			•Designed and built up the test bench for LED driver design. Measured the noise level from present design and designed an alternate LED driver under the same noise level as LED driver from the market. OrCAD was used for the simulation. Function generator, DC power supply and oscilloscope were used. <br>
			•Acquired images from the tool and took the image processing in MATLAB based on the collected images to find out the defect on the wafer. <br>
		</p>
		<h style="color:black;font-size:30px;">
			Engineering Intern<br>
		</h>
		<var style="color:black;font-size:22px;">
			Arbin Instruments, College Station, TX<br>
			June 2017 – August 2017<br>
		</var>
		<p style="color:black;font-size:15px;">
			•Added new functions for semi-auto calibration for the testing machines by using the HP3458A Meter. The basic idea was adding functions for the connection between HP meter and PC and then sent commands to the HP meter to read the current and voltage using USB connection. <br>
			•Redesigned and improved the user interface of Arbin’s Comprehensive Software Suite by MFC library since current package did not include auto-calibration and semi-auto-calibration options. C++ was used in this project. <br>
			•Tested company’s products with their designed software. The software was used to measure the battery’s performance and verify precision of the output current. <br>
		</p>

	</body>
{% endblock content %}