{%extends "layout.html" %}
{% block content %}
	<h1> Howdy! </h1>
	<body>
		<p style="color:black;font-size:16px;">
			Greetings from College Station, Texas! My name is Chenjie Luo and I am currently a MS student from department of electrical and computer engineering at Texas A&M University. I am actively looking for full-time openings as a software engineer or embedded software engineer right now. If you come across my webpage and think I may be a good fit of your position, please don't hesitate to contact me and I am more than happy to answer any question! I would really appreciate your patience if you could spend a couple of minutes going through my website! Thank you again! <br><br><br>
		Email: bourneluo@gmail.com <br><br>
		Github: <a href="https://github.com/chenjieLuo" target="_blank">My Github Repository</a><br><br>
		LinkedIn: <a href="https://www.linkedin.com/in/chenjie-luo-79098a102" target="_blank">My LinkedIn Profile</a><br><br>
		</p>
	</body>
{% endblock content %}
